<h1>Mobile#items</h1>
  <a name="top">
  <%= number_link_to 1, "TOP", :anchor => "top" %>
<% form_tag :action => "list" do %>
  <% @subs.each_with_index do |sub, i| %>
  <div style="background-color:white">
    <% if i < 8 then %>
      <%= number_link_to i+2, sub.feed.title, :anchor => "sub#{sub.id}" %>
    <% else %>
      <%= link_to sub.feed.title, :anchor => "sub#{sub.id}" %>
    <% end %>
  </div>
<% end %>
*<input name="submit" type="submit" value="next" accesskey="*"/>
#<input name="reset" type="reset" value="reset" accesskey="#"/>
<%= number_link_to(0, "index", :action => "index") %>
<% @subs.each do |sub| %>
  <a name="sub<%= sub.id %>">
  <h2><%=h sub.feed.title %></h2>
  <% items = sub.feed.items.find :all,
    :order => "created_on DESC, id DESC" %>
<% items.each_with_index do |item, i| %>
  <% next if item.title =~ /^PR/ %>
  <% next if item.created_on < 2.days.ago %>
  <% if i.even? then %>
    <div bgcolor="gray">
  <% else %>
  <div>
  <% end %>
  <p><%= check_box_tag "item_id[#{item.id}]" %> <%= link_to item.title, item.link %></p>
  </div>
 <% end %>
<% end %>
<% end %> 
