<h1>recent items</h1>
  <a name="top" id="top">
<%= number_link_to 1, "TOP", :anchor => "top" %>
<% form_tag :action => "list" do %>
  <%- @subs.each_with_index do |sub, i| -%>
  <div style="background-color:white">
    <%- j = i + 4 -%>
    <%- title, anchor = sub[:title], "sub#{sub[:id]}" -%>
    <%- if j < 10 then -%>
      <%= number_link_to j, title, :anchor => anchor -%>
    <%- elsif j <= 12 -%>
      <%- hash = { 10 => "*" , 11 => 0, 12 => "#"} -%>
      <%= number_link_to hash[j], title, :anchor => anchor -%>
    <%- else -%>
      <%= link_to title, :anchor => anchor %>
    <%- end -%>
  </div>
  <%- end -%>
<%= emoji_number 2 %><input name="reset" type="reset" value="reset" accesskey="2"/>
<%= emoji_number 3 %><input name="submit" type="submit" value="next" accesskey="3"/>
<%- i = 4 -%>
<%- prev_title = nil -%>
<% @recordset.each do |r| %>
  <a name="sub<%= r.fid %>" id="sub<%= r.fid %>">
    <%- if prev_title != r.ftitle then -%>
    <h2><%=h r.ftitle %></h2>
    <%- prev_title = r.ftitle -%>
    <%- end -%>
  </a>
  <%- next if r.ititle =~ /^PR/ -%>
  <%- if i.even? then style = " style=\"background-color: #c0c0c0;\"" end -%>
  <%- i += 1 -%>
  <div<%= style %>>
    <%- key = sprintf "%s-%s", i.to_s(36).rjust( 2, "0"), r.iid.to_i.to_s(36) -%>
    <%= check_box_tag "item_id[#{key}]" %>
    <%= @view_counts[r.iid.to_i] %>
    <%= link_to r.ititle, r.ilink %>
  </div>
<%- end -%>
<% end %> 
